<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVKhr1RRwh9a0uNxwXNyeS_WGvAxGfgrI</string>
	<key>GCM_SENDER_ID</key>
	<string>211779688275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tunetailor</string>
	<key>PROJECT_ID</key>
	<string>tune-tailor-z08x0g</string>
	<key>STORAGE_BUCKET</key>
	<string>tune-tailor-z08x0g.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211779688275:ios:9df02b44b46fd7c39d73a6</string>
</dict>
</plist>